<!--
  Generated template for the DealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Deals </ion-title>
 </ion-navbar>
</ion-header>


<ion-content padding>
      <ion-item *ngIf="contracts.length==0">
	No contracts yet
      </ion-item>
<ion-list no-lines *ngIf="contracts.length !=0">

    <ion-item-sliding *ngFor="let contract of contracts">

      <ion-item>
        {{todo.title}}
      </ion-item>

      <ion-item-options>
        <button ion-button color="secondary" (click)="selectContract(contract)">
          <ion-icon name="select"></ion-icon>
          Select
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
